
// Colors

$white: #fff;
$black: #000;
$midnight: #2B333D;
$black-pearl: #1C2025;
$royal-blue: #4285F4;
$gainsboro: #D8D8D8;
$alice-blue: #FAFBFC;
$summer-sky: #36C0E0;
$coral: #FC8357;
$saddle-brown: #8C3A00;
$de-york: #85D280;
$ghost-white: #F6F7FA;
$torch-red: #FF1133;
$tangerine-yellow: #FFCC00;
