.popup-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 15px 20px 20px;
    background-color: $white;
    z-index: 5;
    @include border-radius(5px);
    @include transform(translate(-50%, -50%));
    // popup container header
    &-header{
        // padding-bottom: 10px;
        // border-bottom: 1px solid rgba($midnight, 0.1);
        h2{
            color: $midnight;
            float: left;
        }
        i{
            width: 14px;
            height: 14px;
            float: right;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            cursor: pointer;
            margin-top: 3px;
            opacity: 0.7;
            @include transition(opacity 0.3s linear);
            &:hover{
                opacity: 1;
            }
        }
    }
    // end of popup container header
    // popup container content
    &-content{
        // fetch
        .popup-fetch &{
            input{
                width: 100%;
                height: 40px;
                padding: 10px;
                color: $midnight;
                font-size: 14px;
                font-weight: 400;
                margin-top: 5px;
                background-color: $white;
                border: 1px solid $gainsboro;
                margin: 15px 0 20px;
                @include border-radius(5px);
            }
            button{
                width: 100%;
                padding: 11px 10px 10px;
            }
        }
        // end of fetch
        // oncall calendar
        .popup-oncall-calendar &{
            &>ul{
                font-size: 0;
                margin: 15px 0;
                li{
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    p{
                        font-size: 14px;
                        font-weight: 500;
                        color: $midnight;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
            }
            .dropdown-search{
                width: 220px;
                margin-left: 22px;
                margin-bottom: 15px;
                input{
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    color: $midnight;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: $white;
                    border: 1px solid $gainsboro;
                    @include border-radius(5px);
                }
                ul{
                    max-height: 90px;
                }
            }
            .oncall-calendar-list{
                margin-left: 22px;
                margin-bottom: 15px;
                h3{
                    font-size: 14px;
                    font-weight: 400;
                    color: $midnight;
                    margin-bottom: 5px;
                }
                ul{
                    li{
                        margin-bottom: 5px;
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba($midnight, 0.7);
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .oncall-calendar-btn{
                margin-top: 20px;
                text-align: right;
                button{
                    padding: 10px;
                    width: 120px;
                    margin-left: 20px;
                }
            }

        }
        // end of oncall calendar
    }
    &.popup-oncall-calendar{
        width: 500px;
    }
    // end of popup container content
}
