// font family
//lato
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Light.woff2') format('woff2'), url('../fonts/lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Regular.woff2') format('woff2'), url('../fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Semibold.woff2') format('woff2'), url('../fonts/lato/Lato-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Bold.woff2') format('woff2'), url('../fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}