html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img {
  max-width: 100%;
}

ul, ol {
  //overflow: hidden;
  list-style: none;
}

header, main, footer, table, figure, blockquote, pre, ul, ol {
  margin-bottom: 0;

  p + & {
    margin-top: 0;
  }
}

picture {
  display: block;
}

li ol, li ul {
  margin-bottom: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  appearance: none;

  &:focus {
  	appearance: none;
  }
}

input[type=checkbox] {
  appearance: checkbox;
}

input[type=radio] {
  appearance: radio;
}
